{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "plugins": ["node"]
    },
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:node/recommended"
    ],
    "rules": {
        "import/no-commonjs": "error",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "error",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": ["error", {"argsIgnorePattern": "^_"}],
        "node/no-unsupported-features/es-syntax": "off",
        "node/no-missing-import": "off"
    }
}
